body {
    font-family: Tahoma Verdana Segoe sans-serif;
    color: #CCCCCC;
    font-size: 9pt;
    letter-spacing: 1pt;
    background-color: #2e2e2e;
}

a {
    text-decoration:none;
    font-weight:bold;
    text-align: center;
}

table {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}

td {
    font-family: Tahoma Verdana Segoe sans-serif;
    color: #CCCCCC;
    font-size: 9pt;
    letter-spacing: 1pt;
    vertical-align: top;
    padding: 3px;
}

hr {
    display:block;
    border:0;
    height:1px;
    width: 150px;
    margin:0;
}

.menu-block {
    margin-bottom: 35px;
}

.menu-block a, .menu-block strong {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.menu-bar {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.menu-bar a:not(:last-of-type):after {
    content: " | ";
    color: #CCCCCC;
    font-weight: normal;
}