<center>Starting Research Sect Terminal 465-5Y-X51. Request for information confirmed.<br /> <br />
Attempting to access information. Please wait . . .<br /> <br />
Attempting to access information. Please wait . . .<br /> <br />
Attempting to access information. Please wait . . .<br /> <br />
Access has been <strong>denied.</strong><strong><br /> <br /> <font color="#EE0000" size="3">------ Level Access Required</font></strong> <br />
Your attempt to access ------ Level Information has been logged. You have insufficient clearance to be informed as to the Level of the information you just attempted to access. Article 34.32.viB has been enacted. Any attempt to leave your location will be in breach of Article 34.32.viB and will be punished as such.<br /> <br />
Closing request for information. <br /> <br />
Closing Research Sect Terminal 465-2B-D82.<br /> <br />
 Thank you. We hope the Gods have mercy upon your immortal soul.<br /> <br /> </center>