---
---
<html lang="en">
<head>
    <title>Tal'Vorn - Welcome to the World</title>
    <link rel="stylesheet" type="text/css" href="/style/base.css">
    <link rel="stylesheet" type="text/css" href="/style/darksiders.css">
</head>
<body>
<table>
    <tr>
        <td colspan="3">
            <img alt="The east" src="/images/thewar.jpg"/>
            {% include lore-menu.html %}
        </td>
    </tr>
    <tr>
        <td>
            <div class="menu-block">
                <strong>World</strong>
                <hr/>
                <a href="/darksiders/world/darksiders.html">Darksiders</a>
                <a href="/darksiders/world/timesect.html">Time Sect</a>
                <a href="/darksiders/world/maguscouncil.html">Magus Council</a>
            </div>
            <div class="menu-block">
                <strong>TECHNOLOGY</strong>
                <hr/>

                <a href="/darksiders/items/ablativearmour.html">Micro-shielded Ablative Armour</a>
                <a href="/darksiders/items/cranialimplant.html">Cranial Implant</a>
                <a href="/darksiders/items/mprs.html">MPRS</a>
                <a href="/darksiders/items/blitzballs.html">Blitz Balls</a>
                <a href="/darksiders/items/railgun.html">Rail Gun</a>
                <a href="/darksiders/items/portablerefractionshield.html">Portable Refraction Shield</a>
                <a href="/darksiders/items/ring.html">Darksiders ring</a>
                <a href="/darksiders/items/forcestaff.html">Force staff</a>

            </div>


        </td>
        <td style="min-width: 650px">
            <br/>
            {{ content }}
            <br/>
        </td>
        <td>
            <div class="menu-block">
                <strong>ABOUT</strong>
                <hr/>
                <a href="/cont/aboutus.html">About Us</a>
                <a href="/cont/affiliating.html">Affiliating</a>
                <a href="/cont/contact.html">Contact</a>
                <a href="/cont/disclaimer.html">Disclaimer</a>
                <a href="/cont/links.html">Links</a>
                <a href="/cont/staff.html">Staff</a>
            </div>

            <div class="menu-block">
                <strong>???</strong>
                <hr/>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <center>
                <br/>
                <hr/>
                <br/>
                &copy; Joshua Binks (Paladin),
                Christopher Riley (Carnage),
                Vanessa Vaughan (Andanin)
                2002 -
                <script>document.write(new Date().getFullYear())</script>
            </center>
        </td>
    </tr>
</table>
</body>
</html>