---
---
<html lang="en">
<head>
    <title>Tal'Vorn - Welcome to the World</title>
    <link rel="stylesheet" type="text/css" href="/style/base.css">
    <link rel="stylesheet" type="text/css" href="/style/east.css">
</head>
<body>
    <table>
        <tr>
          <td colspan="3">
              <img alt="The east" src="/images/theeast.jpg" />
              {% include lore-menu.html %}
          </td>
        </tr>
        <tr>
          <td>
              <div class="menu-block">
                <strong>WORLD</strong>
                <hr />
                <a href="/east/world/cities.html" >Cities</a>
                <a href="/east/world/continents.html" >Continents</a>
                <a href="/east/world/gods.html" >Gods</a>
                <a href="/east/world/history.html" >History</a>
                <a href="/east/world/jumpgates.html" >Jump Gates</a>
                <a href="/east/world/mani.html" >Mani</a>
                <a href="/east/world/theninehells.html" >The Nine Hells</a>
                <a href="/east/world/magewar.html" >The Mage War</a>
              </div>
              <div class="menu-block">
                <strong>RACES</strong>
                <hr />
                <a href="/east/races/angels.html" >Angels</a>
                <a href="/east/races/anvar.html" >Anvar</a>
                <a href="/east/races/beasts.html" >Beasts</a>
                <a href="/east/races/conflaris.html" >Conflaris</a>
                <a href="/east/races/demons.html" >Demons</a>
                <a href="/east/races/dragonlords.html" >DragonLords</a>
                <a href="/east/races/etherwalkers.html" >Ether Walkers</a>
                <a href="/east/races/fairies.html" >Fae</a>
                <a href="/east/races/humans.html" >Humans</a>
                <a href="/east/races/larkleth.html" >Lar'K'Leth</a>
                <a href="/east/races/mermen.html" >Mermen</a>
                <a href="/east/races/mistdevils.html" >Mist Devils</a>
                <a href="/east/races/pravaii.html" >Pravaii</a>
                <a href="/east/races/soulless.html" >Soulless</a>
                <a href="/east/races/venai.html" >Venai</a>
              </div>
              <div class="menu-block">
                  <strong>ARTWORK</strong>
                  <hr />
                  <a href="/images/Angel%20TV.jpg" >Angels</a>
                  <a href="/images/AnvarT_V.jpg" >Anvar</a>
                  <a href="/images/Minotaur%20TV.jpg" >Beasts</a>
                  <a href="/images/Dragonlady%20T_V.jpg" >DragonLords</a>
                  <a href="/images/Daen%20Seele%20VOrmund%20001.jpg" >Humans</a>
                  <a href="/images/Lar_K_Leth2-TV.jpg" >Lar'K'Leth</a>
                  <a href="/images/MyrmidonAdjust.jpg" >Soulless Myrmidon</a>
                  <a href="/images/AbaddonAdjust.jpg" >Soulless Abaddon</a>
              </div>
          </td>
          <td>
              <br />
              {{ content }}
              <br />
          </td>
          <td>
            <div class="menu-block">
                <strong>ABOUT</strong>
                <hr />
                <a href="/cont/aboutus.html" >About Us</a>
                <a href="/cont/affiliating.html" >Affiliating</a>
                <a href="/cont/contact.html" >Contact</a>
                <a href="/cont/disclaimer.html" >Disclaimer</a>
                <a href="/cont/links.html" >Links</a>
                <a href="/cont/staff.html" >Staff</a>
            </div>
            <div class="menu-block">
                <strong>SECTS</strong>
                <hr />
                <a href="/sects/air.html">Air</a>
                <a href="/sects/dark.html">Dark</a>
                <a href="/sects/darksiders.html" >DarkSiders</a>
                <a href="/sects/earth.html">Earth</a>
                <a href="/sects/fire.html">Fire</a>
                <a href="/sects/guardian.html">Guardian</a>
                <a href="/sects/healer.html">Healer</a>
                <a href="/sects/ice.html" >Ice</a>
                <a href="/sects/life.html">Life</a>
                <a href="/sects/psychic.html">Psychic</a>
                <a href="/sects/research.html">Research</a>
                <a href="/sects/order.html">Order</a>
                <a href="/sects/universe.html">Universe</a>
                <a href="/sects/warrior.html">Warriors</a>
                <a href="/sects/water.html">Water</a>
            </div>
            <div class="menu-block">
                <strong>OTHER MAGICS</strong>
                <hr />
                <a href="/east/magic/blood.html" >Blood</a>

                <a href="/east/magic/forbidden.html" >Forbidden</a>
                <a href="/east/magic/pack.html" >Pack</a>
                <a href="/east/magic/scripture.html" >Scripture</a>
                <a href="/east/magic/wild.html" >Wild</a>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
              <center>
                  <br /><hr /><br />
                  &copy; Joshua Binks (Paladin),
                  Christopher Riley (Carnage),
                  Brad Rumsey (Lithium),
                  Alicia Rumsey (Escapist) and
                  Vanessa Vaughan (Andanin)
                  2002 - <script>document.write(new Date().getFullYear())</script>
              </center>
          </td>
        </tr>
    </table>
</body>
</html>