---
---
<html lang="en">
<head>
    <title>Tal'Vorn - Welcome to the World</title>
    <link rel="stylesheet" type="text/css" href="/style/base.css">
    <link rel="stylesheet" type="text/css" href="/style/north.css">
</head>
<body>
<table>
    <tr>
        <td colspan="3">
            <img alt="The east" src="/images/thenorth.jpg"/>
            {% include lore-menu.html %}
        </td>
    </tr>
    <tr>
        <td>
            <div class="menu-block">
                <strong>NORTHERN RACES</strong>
                 <hr />

                <a href="/north/races/accursed.html">Accurséd</a>
                <a href="/north/races/ilarn.html">Ilarn</a>
                <a href="/north/races/mortis.html">Mortis</a>
                <a href="/north/races/wokendead.html">Woken Dead</a>
            </div>

            <div class="menu-block">
                <strong>MAGICS</strong>
                 <hr />

                <a href="/north/magic/accursedmagic.html">Accurséd</a>
                <a href="/north/magic/bone.html">Bone</a>
                <a href="/north/magic/phasingmagic.html">Phase</a>
            </div>

        </td>
        <td>
            <br/>
            {{ content }}
            <br/>
        </td>
        <td>
            <div class="menu-block">
                <strong>ABOUT</strong>
                 <hr />
                <a href="/cont/aboutus.html">About Us</a>
                <a href="/cont/affiliating.html">Affiliating</a>
                <a href="/cont/contact.html">Contact</a>
                <a href="/cont/disclaimer.html">Disclaimer</a>
                <a href="/cont/links.html">Links</a>
                <a href="/cont/staff.html">Staff</a>
            </div>


            <div class="menu-block">
                <strong>WORLD</strong>
                 <hr />
                <a href="/north/world/northcontinents.html">Continents</a>
                <a href="/north/world/northcities.html">Cities</a>
                <a href="/north/world/phasetechnology.html">Phase Technology</a>
                <a href="/north/world/shadowmetal.html">ShadowMetal</a>
            </div>

        </td>
    </tr>
    <tr>
        <td colspan="3">
            <center>
                <br>
                <hr/>
                <br>
                &copy; Joshua Binks (Paladin), Christopher Riley (Carnage) and Vanessa Vaughan (Andanin)
                2002 -
                <script>document.write(new Date().getFullYear())</script>
            </center>
        </td>
    </tr>
</table>
</body>
</html>