---
---
<html lang="en">
<head>
    <title>Tal'Vorn - Welcome to the World</title>
    <link rel="stylesheet" type="text/css" href="/style/base.css">
    <link rel="stylesheet" type="text/css" href="/style/outer.css">
</head>
<body>
<table>
    <tr>
        <td colspan="3">
            <img alt="The east" src="/images/theeast.jpg"/>
            {% include lore-menu.html %}
        </td>
    </tr>
    <tr>
        <td>
            <div class="menu-block">
                <strong>RACES</strong>
                <hr/>

                <a href="/outer/races/crystaldragonlords.html">Crystal <br />DragonLords</a>
                <a href="/outer/races/ethereals.html">Ethereals</a>
                <a href="/outer/races/etherwalkers.html">Ether Walkers</a>
                <a href="/outer/races/leviathan.html">Leviathan</a>
                <a href="/outer/races/naskaara.html">Naskaara</a>
            </div>
            <div class="menu-block">
                <strong>MAGICS</strong>
                <hr/>
            </div>


        </td>
        <td>
            <br/>
            {{ content }}
            <br/>
        </td>
        <td>
            <div class="menu-block">
                <strong>ABOUT</strong>
                <hr/>
                <a href="/cont/aboutus.html">About Us</a>
                <a href="/cont/affiliating.html">Affiliating</a>
                <a href="/cont/contact.html">Contact</a>
                <a href="/cont/disclaimer.html">Disclaimer</a>
                <a href="/cont/links.html">Links</a>
                <a href="/cont/staff.html">Staff</a>
            </div>


            <div class="menu-block">
                <strong>THE REACHES</strong>
                <hr/>

                <a href="/outer/world/aeyabaekra.html">Aeyabaekra</a>
                <a href="/outer/world/eyo.html">Eyo</a>
                <a href="/outer/world/iun.html">Iun</a>
                <a href="/outer/world/naskar.html">Naskar</a>
                <a href="/outer/world/taeekenah.html">Ta'eekenah</a>
            </div>


        </td>
    </tr>
    <tr>
        <td colspan="3">
            <center>
                <br>
                <hr/>
                <br><br>
                &copy; Joshua Binks (Paladin), Christopher Riley (Carnage) and Vanessa Vaughan (Andanin)
                2002 - <script>document.write(new Date().getFullYear())</script>
            </center>
        </td>
    </tr>
</table>
</body>
</html>