---
---
<html lang="en">
<head>
    <title>Tal'Vorn - Welcome to the World</title>
    <link rel="stylesheet" type="text/css" href="/style/base.css">
    <link rel="stylesheet" type="text/css" href="/style/south.css">
</head>
<body>
<table>
    <tr>
        <td colspan="3">
            <img alt="The east" src="/images/south.jpg"/>
            {% include lore-menu.html %}
        </td>
    </tr>
    <tr>
        <td>
            <div class="menu-block">
                <strong>SOUTHERN RACES</strong>
                <hr/>

                <a href="/south/races/ancientdragonlords.html">Ancient<br /> DragonLords</a>
                <a href="/south/races/morain.html">Morain</a>
                <a href="/south/races/nemar.html">Nemar</a>
                <a href="/south/races/sirens.html">Sirens</a>
                <a href="/south/races/venris.html">Venris</a>
            </div>
            <div class="menu-block">
                <strong>MAGICS</strong>
                <hr/>

                <a href="/south/magic/feralmagic.html">Feral</a>
                <a href="/south/magic/refinedwildmagic.html">Refined Wild</a>
                <a href="/south/magic/soundmagic.html">Sound</a>

            </div>


        </td>
        <td>
            <br/>
            {{ content }}
            <br/>
        </td>
        <td>
            <div class="menu-block">
                <strong>ABOUT</strong>
                <hr/>
                <a href="/cont/aboutus.html">About Us</a>
                <a href="/cont/affiliating.html">Affiliating</a>
                <a href="/cont/contact.html">Contact</a>
                <a href="/cont/disclaimer.html">Disclaimer</a>
                <a href="/cont/links.html">Links</a>
                <a href="/cont/staff.html">Staff</a>
            </div>


            <div class="menu-block">
                <strong>WORLD</strong>
                <hr/>
                <a href="/south/world/southcities.html">Cities</a>
                <a href="/south/world/southislands.html">Islands</a>
                <a href="/south/world/theshadow.html">The Shadow</a>
            </div>

        </td>
    </tr>
    <tr>
        <td colspan="3">
            <center>
                <br>
                <hr/>
                <br><br>
                &copy; Joshua Binks (Paladin), Christopher Riley (Carnage) and Vanessa Vaughan (Andanin)
                2002 - <script>document.write(new Date().getFullYear())</script>
            </center>
        </td>
    </tr>
</table>
</body>
</html>