---
---
<html lang="en">
<head>
    <title>Tal'Vorn - Welcome to the World</title>
    <link rel="stylesheet" type="text/css" href="/style/base.css">
    <link rel="stylesheet" type="text/css" href="/style/war.css">
</head>
<body>
<table>
    <tr>
        <td colspan="3">
            <img alt="The east" src="/images/thewar.jpg"/>
            {% include lore-menu.html %}
        </td>
    </tr>
    <tr>
        <td>
            <div class="menu-block">
                <strong>RACES</strong>
                <hr/>
                <!-- Most of these seem duplicates from east; non of the files had original content from what I could tell
                 <a href="/races/angels.html">Angels</a>
                <a href="/races/anvar.html">Anvar</a>
                 <a href="/races/bisch.html">Bisch</a>
                 <a href="/races/conflaris.html">Conflaris</a>
                 <a href="/races/demons.html">Demons</a>
                 <a href="/races/dragonlords.html">DragonLords</a>
                 <a href="/races/etherwalkers.html">Ether Walkers</a>
                 <a href="/races/elves.html">Elves</a>
                 <a href="/races/fae.html">Fae</a>
                 <a href="/races/humans.html">Humans</a>
                <a href="/races/mermen.html">Mermen</a>
                <a href="/races/mortis.html">Mortis</a>
                <a href="/races/abaddon.html">Soulless Abaddon</a>
                <a href="/races/soulless.html">Soulless-Born</a>
                <a href="/races/myrmidon.html">Soulless Myrmidon</a>
                <a href="/races/wokendead.html">Woken Dead</a>
                -->
            </div>
            <div class="menu-block">
                <strong>HIGH TECHNOLOGY</strong>
                <hr/>

                <a href="/war/items/assaultblade.html">Assault Blade</a>
                <a href="/war/items/assaultcannon.html">Assault Cannon</a>
                <a href="/war/items/flamethrower.html">Flamethrower</a>
                <a href="/war/items/laserrifle.html">Laser Rifle</a>
                <a href="/war/items/massdriver.html">Mass Driver</a>
                <a href="/war/items/personalrefractorshield.html">Personal Refractor Shield</a>
                <a href="/war/items/ptau.html">Personal Tactical Assault Unit</a>
                <a href="/war/items/raildriver.html">Rail Driver</a>

            </div>


        </td>
        <td style="min-width: 650px">
            <br/>
            {{ content }}
            <br/>
        </td>
        <td>
            <div class="menu-block">
                <strong>ABOUT</strong>
                <hr/>
                <a href="/cont/aboutus.html">About Us</a>
                <a href="/cont/affiliating.html">Affiliating</a>
                <a href="/cont/contact.html">Contact</a>
                <a href="/cont/disclaimer.html">Disclaimer</a>
                <a href="/cont/links.html">Links</a>
                <a href="/cont/staff.html">Staff</a>
            </div>

            <div class="menu-block">
                <strong>WAR CAMPS</strong>
                <hr/>

                <a href="/war/world/assaultdivisions.html">Assault Divisions</a>
                <a href="/war/world/primus.html">Primus</a>
                <a href="/war/world/supportdivisions.html">Support Divisions</a>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <center>
                <br/>
                <hr/>
                <br/>
                &copy; Joshua Binks (Paladin),
                Christopher Riley (Carnage),
                Vanessa Vaughan (Andanin)
                2002 -
                <script>document.write(new Date().getFullYear())</script>
            </center>
        </td>
    </tr>
</table>
</body>
</html>