---
---
<html lang="en">
<head>
    <title>Tal'Vorn - Welcome to the World</title>
    <link rel="stylesheet" type="text/css" href="/style/base.css">
    <link rel="stylesheet" type="text/css" href="/style/west.css">
</head>
<body>
<table>
    <tr>
        <td colspan="3">
            <img alt="The east" src="/images/thewest.jpg"/>
            {% include lore-menu.html %}
        </td>
    </tr>
    <tr>
        <td>
            <div class="menu-block">
                <strong>WESTERN RACES</strong>
                <hr/>

                <a href="/west/races/westernanvar.html" target="frame">Western Anvar</a>
                <a href="/west/races/westernbeasts.html" target="frame">Western Beasts</a>
                <a href="/west/races/northar.html" target="frame">Northar</a>
                <a href="/west/races/southar.html" target="frame">Southar</a>
                <a href="/west/races/torma.html" target="frame">Torma</a>
            </div>

            <div class="menu-block">
                <strong>MAGICS</strong>
                <hr/>

                <a href="/west/magic/illusion.html" target="frame">Illusion</a>
                <a href="/west/magic/holy.html" target="frame">Holy</a>
                <a href="/west/magic/corrupt.html" target="frame">Corrupt</a>
                <a href="/west/magic/light.html" target="frame">Light</a>
            </div>


        </td>
        <td>
            <br/>
            {{ content }}
            <br/>
        </td>
        <td>
            <div class="menu-block">
                <strong>ABOUT</strong>
                <hr/>
                <a href="/cont/aboutus.html" target="frame">About Us</a>
                <a href="/cont/affiliating.html" target="frame">Affiliating</a>
                <a href="/cont/contact.html" target="frame">Contact</a>
                <a href="/cont/disclaimer.html" target="frame">Disclaimer</a>
                <a href="/cont/links.html" target="frame">Links</a>
                <a href="/cont/staff.html" target="frame">Staff</a>
            </div>
            <div class="menu-block">
                <strong>WORLD</strong>
                <hr/>
                <a href="/west/world/continents.html" target="frame">Continents</a>
                <a href="/west/world/cities.html" target="frame">Cities</a>
                <a href="/west/world/hightechnology.html" target="frame">High Technology</a>
                <a href="/west/world/airships.html" target="frame">Airships</a>
                <a href="/west/world/crossclasses.html" target="frame">Cross-Classes</a>
            </div>

        </td>
    </tr>
    <tr>
        <td colspan="3" >
            <center>
                <br>
                <hr/>
                <br>
                &copy; Joshua Binks (Paladin), Christopher Riley (Carnage) and Vanessa Vaughan (Andanin)
                2002 - <script>document.write(new Date().getFullYear())</script>
            </center>
        </td>
    </tr>
</table>
</body>
</html>